<link rel="stylesheet" href="root-folders.component.css"/>

<div class="center" style="display:flex; flex-wrap: wrap;">
    <div class="tn-container">
        <img 
        src="https://images.unsplash.com/photo-1683009427666-340595e57e43?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="folder-tn"
        >
    </div>
    <div class="tn-container">
        <img 
            src="https://images.unsplash.com/photo-1697874633717-0db2bfc8afd8?auto=format&fit=crop&q=80&w=1974&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="folder-tn"
        >
    </div>
    <div class="tn-container">
        <img 
            src="https://images.unsplash.com/photo-1697789344805-bc64b0874465?auto=format&fit=crop&q=80&w=1974&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="folder-tn"
        >
    </div>
</div>
