/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.mainTitle{
  font-size: 500%;
  cursor: pointer;
}

.center {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

img {
  object-fit: cover;
}

.folder-tn {
  width: 100%;
  height: 100%;
  animation: img-zoom-out 1s;
}
.folder-tn:hover {
  animation: img-zoom-in 2s;
  transform: scale(1.2);
}

.tn-container{
  overflow: hidden;
  border-radius: 10px;
  margin: 10px;
  height: 200px;
  width: 200px;
  cursor: pointer;
}

.delete_icon{
  border-style: dotted;
  border-color: chartreuse;
  border-width: 5px;
  height: 150px;
  width: 150px;
}

@keyframes img-zoom-in {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.2);
  }
}
@keyframes img-zoom-out {
  0%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}

.create-save-button{
  background-color: #1181d1;
  color: #dee3da;
  font-size: 20px;
  width: 100px;
  height: 50px;
  border-radius: 25px;
}

.create-fld{
  width: 70%;
  height: 50px;
  font-size: 45px;
  border-radius: 5px;
}

.template-div{
  overflow-wrap: break-word;
  width: 220px;
}

.index-login-btns{
  background-color: #3264ed;
  color: #ededee;
  width: 150px;
  height: 100px;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  font-size: 25px;
  cursor: pointer;
}

.search_res{
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  border-width: 1px;
  background-color: #ffffff;
  border-style: solid;
  border-color: #3264ed;
  border-radius: 5px;
  width: 400px;
  margin-left: 50px;
  display: flex;
}

.search_res > h4{
  padding-left: 10px;
}

.search_res:hover{
  background-color: #bdc9ec;
  cursor: pointer;
}


.menu-btn{
  position: fixed;
  top: 20px;
  right: 20px;
  justify-content: right;
  cursor: pointer;
}


.menu-content{
  position: fixed;
  top: 60px;
  right: 20px;
  justify-content: right;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  background-color: #939da3b9;
  /*max-height: 0px;
  overflow: hidden;*/
}
.menu-content > h2:hover{
  background-color: #9aade2;
  cursor: pointer;
}

.menu-content.show{
  max-height: 300px;
  transition: max-height 0.3s ease-in;
}

.menu-content.hide{
  
  transition: max-height 0.3s ease-in;
  max-height: 0px;
  overflow: hidden;
}

#settings_btn{
  position: fixed;
  right: 5%;
  top: 8%;
  font-size: 40px;
  cursor: pointer;
}

#upload-icon{
  position: absolute;
  top: 48.7%;
  left: 48.9%;
}

#img-placeholder-settings:hover > #upload-icon{
  display: block;
  background-color: #3264ed;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(0, 0, 0);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #cccccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffffff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}